{% load i18n %}{% autoescape off %}
{% blocktranslate %}Вы получили это сообщение, потому что от Вас поступил запрос на смену пароля на сайте {{ site_name }}.{% endblocktranslate %}

{% translate "Перейдите на данную страницу и введите новый пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Ваше имя пользователя:' %} {{ user.get_username }}

{% translate "Благодарим за посещение нашего сайта!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}